{% extends 'bill_data/index.html' %}
{% block bill_table %}
{% if obj %}
<div style="padding-top: 30px" class="row">
    <h3 align="left">Contas</h3>
    <table style="border: 2px solid #dddddd;">
         <thead>
            <tr style="border: 1px solid;">
                {% for h in hds %}
                    <th style="border: 1px solid;">{{h}}</th>
                {% endfor %}
                <th>ix</th><th>Tipo</th><th>Factura</th><th>Preço</th><th>Periodo de facturação</th><th>Entidade</th><th>Referencia</th><th>Data limite</th>
            </tr>
         </thead>
         <tbody style="border: 1px solid;">
            {% for d in obj %}
            <tr>
                
              {% for word in d %}
              <td style="border: 1px solid;">{{ word }}</td>
              {% endfor %}
            </tr>
            {% endfor %}
         </tbody>
   </table>
  </div>
 {% endif %}
 {% endblock %}